.BelowTableSection{
    display: flex;
    padding: 20px;
    justify-content: center;
  }
  
  .DeleteButton{
    margin-right: 30px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .DeleteButton:hover{
    transform: scale(1.1);
  }

  
@media screen and (max-width:660px) {
  .BelowTableSection{
    flex-direction: column;
    padding-top:10px;
    align-items: center;
  }

  .DeleteButton{
    margin-bottom: 1rem;
    width: 100px;
  }
}